/* heirloom window CSS overrides */
.customRatios {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	margin-bottom: 0.5vw;
	margin-left: 0.35vw;
}

.customRatiosContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

span.textbox {
	align-items: center;
	vertical-align: middle;
	padding-left: 0.25vw;
	margin-right: 0.7vw;
	line-height: 1.3vw;
	min-width: 13.5vw;
	max-width: 13.5vw;
	font-size: 0.8vw;
	color: #888;
	height: 1vw;
	border: white 1px solid;
	background-color: #000000;
	align-items: center;
}

span.textbox input {
	height: calc(1vw - 2px);
	border: 0px;
	background-color: #000000;
	border: 0px black solid;
}

.customEfficiencyBtn {
	height: 1.5vw;
	padding: 0;
	justify-content: center;
	width: 2vw;
	font-size: 0.8vw;
	line-height: 1.3vw;
	margin: 0.5px;
	border: 1px solid #777;
	border-radius: 1px;
	margin-left: 0.1vw;
	margin-right: 0.1vw;
}
