/* select2 dropdowns */
.select2 {
	position: relative;
	font-size: 0.8vw;
	color: white;
	min-width: 13.5vw;
	max-width: 13.5vw;
}

/* dropdown results. Appears when you click the dropdown button! */
.select2-container--default .select2-results > .select2-results__options {
	max-height: 28vw !important;
	font-size: 0.9vw;
	line-height: 0.8vw;
}

/* dropdown text button */
.select2-container--default .select2-selection--single .select2-selection__rendered {
	background-color: #000;
	border: 1px solid white;
	color: white;
	text-align: left;
	min-height: 1.5vw;
	max-height: 1.5vw;
	padding-left: 0.25vw;
	line-height: 1.3vw;
	width: -webkit-fill-available;
}

.select2-container--default .select2-results__option[aria-disabled='true'] {
	text-align: center !important;
}

.select2-container .select2-selection--single {
	display: contents;
}

.select2-control .select2-container {
	height: auto !important;
	padding: 0;
}

.select2-search--dropdown {
	background-color: #000;
	color: white;
}

.select2-search__field {
	background-color: #000;
	color: white;
}

.select2-results {
	background-color: #000;
	color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 1.3vw;
	right: 0px;
}

.select-wrapper {
	position: relative;
	font-family: 'Helvetica', 'Arial', sans-serif;
	display: flex;
	pointer-events: all;

	&[data-prefix] {
		&:before {
			content: attr(data-prefix);
			display: flex;
			align-items: center;
			background-color: #000;
			vertical-align: center;
			position: absolute;
			z-index: 0;
			font-size: 0.8vw;
			left: 1px;
			bottom: 0.2vw;
			padding: 0 5px 0 4px;
			color: white;
			color: #00a7e1;
		}
	}
}

.select2-selection .select2-selection--multiple {
	background-color: #000;
	border: 1px white solid;
	color: white;
	text-align: left;
	min-height: 1.5vw;
	max-height: 1.5vw;
	padding-left: 0.25vw;

	&[data-prefix] {
		&:before {
			content: attr(data-prefix);
			display: flex;
			align-items: center;
			background-color: #000;
			vertical-align: center;
			position: absolute;
			z-index: 0;
			font-size: 0.8vw;
			left: 1px;
			bottom: 0.2vw;
			padding: 0 5px 0 4px;
			color: white;
			color: #00a7e1;
		}
	}
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	color: white;
	background-color: #000;
	font-size: 0.8vw;
	border: none;
	box-shadow: none;
	padding-left: 0.25vw;
	display: flex;
}

.select2-container--default .select2-selection--multiple {
	background-color: #000;
	border: 1px white solid;
	color: white;
	text-align: left;
	min-height: 1.5vw;
	max-height: 1.5vw;
}
