#logBtnGroup div {
	width: 19% !important;
}

div#logConfigHolder.btn-group {
	width: 5% !important;
}

#logConfigBtn {
	padding: 6px 0 !important;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}

ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 0.5vh 0.8vw;
	text-decoration: none;
	transition: 0.3s;
	font-size: 0.85vw;
	border-right: solid 1px;
}

ul.tab li .active {
	background-color: #ccc;
}

ul.tab li a:hover {
	background-color: #ddd;
}

.tabcontent {
	display: none;
	border: 1px solid #ccc;
	border-bottom: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	transform: translateZ(0);
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

._settingBtnParent {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.6vw;
	margin-bottom: 1vw;
	width: calc((100% - (0.6vw * 7) - 0.6vw) / 7);
	min-height: 1.51vw;
}

._settingBtn {
	position: relative;
	padding-left: 5px;
	font-size: 1vw;
	height: auto;
	min-height: 1.51vw;
}

#tipText .autoEggs,
#autoEggs.settingBtntrue {
	-webkit-animation: eggGradient 3s infinite;
	animation: eggGradient 3s infinite;
	color: black;
}

@keyframes eggGradient {
	0% {
		background-color: #83ddd6;
	}

	25% {
		background-color: #f4c7c7;
	}

	50% {
		background-color: #8beab7;
	}

	75% {
		background-color: #f6f297;
	}

	100% {
		background-color: #83ddd6;
	}
}

#animationDiv {
	z-index: -1 !important;
}

.queueItemName,
#queueTimeRemaining {
	z-index: 0 !important;
}

.heirloomRare8 {
	text-shadow: none;
}

#battleSideTitle {
	font-size: 1vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 5%;
	padding-bottom: 5%;
}

.fightBtn {
	width: 100%;
	font-size: 1vw !important;
	padding: 0.15vw 0.3vw;
	display: block;
}

#messageConfig {
	height: 3vw;
	font-size: 1vw;
}

.messageNameHolder {
	font-size: 1.2vw;
}

.litScroll {
	overflow-y: scroll;
	height: 30.5vw;
}

#wrapper {
	background: none;
}

#wrapper {
	background: -webkit-linear-gradient(left, #323341 12%, #626368 29.5%, #727275 47%, #727275 53%, #4c4d56 70.5%, #323341 88%);
}

/*MAZ LAYOUT CSS*/
.windowRow div input,
.windowRow div select {
	width: 100%;
}

.windowRow {
	padding: 0 2%;
	margin: 0 1%;
	font-weight: bold;
}

.windowRow.titles div {
	text-align: center;
	font-weight: bold;
}

.windowRow.titles {
	border: 1px solid black;
	margin: 0 1%;
	margin-top: 0.2vw;
	padding: 0.2% 2%;
}

#windowAddRowBtn {
	position: relative;
	margin-top: 0.5vw;
	left: 1vw;
}

.windowDelete .icomoon {
	display: inline-block;
	position: relative;
	top: 0.6vw;
	left: -1.5vw;
	color: red;
	font-weight: bold;
	font-size: 2vw;
	width: 0%;
	cursor: pointer;
	padding-left: 0%;
}

.windowDelete {
	display: inline-block;
	position: relative;
	width: 0%;
	cursor: pointer;
	padding-left: 0%;
}

.windowDisplay {
	position: relative;
	display: inline-block;
	padding-left: 1%;
}

#windowError {
	font-weight: bold;
	color: red;
}

.uniqueMapValue {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 10%;
}

.settingsBtnLocal {
	font-size: 1.3vw;
	cursor: pointer;
	text-align: center;
}

.settingsBtnLocalCogwheel {
	font-size: 1.3vw;
	border-right: 1px solid black !important;
	border-top: 1px solid black !important;
	border-bottom: 1px solid black !important;
	cursor: pointer;
	text-align: center;
}

.toggleConfigBtnLocal {
	overflow: hidden;
}

.toggleConfigBtnLocal div {
	display: inline-block;
	text-align: center;
}

.toggleConfigBtnLocal div:first-child {
	width: 80%;
}

.toggleConfigBtnLocal div:nth-child(2) {
	width: 20%;
	background-color: grey;
	float: right;
}

.toggleConfigBtnLocal div:nth-child(2):hover {
	background-color: #666666;
}

.toggleConfigBtnLocal div span {
	line-height: 1.2em;
	font-size: 1.1em;
}

li.indent {
	list-style-type: square;
	margin-left: 1vw;
}

/* Time Warp */
#offlineExtraBtnsContainer,
#offlineMapBtns,
#offlineZoneBtns {
	height: 24vw;
	border: 1px solid white;
	padding-top: 2vw;
}

#offlineInnerWrapper {
	width: 50%;
	margin-left: 25%;
	font-size: 1.5vw;
	padding-top: 6%;
}

#settingsRowTW {
	position: fixed;
	bottom: 0;
	background-color: #545353;
	width: 100%;
	left: 0;
	color: white;
	z-index: 7;
}

h9 {
	text-decoration: underline;
}

/* Changelog */
.btn-changelogNew {
	background: #1e3c75;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 100%;
}

.btn-changelogNew:hover,
.btn-changelogNew:focus,
.btn-changelogNew.focus,
.btn-changelogNew:active,
.btn-changelogNew.active,
.open > .dropdown-toggle.btn-new {
	background: #345594;
	color: white;
}

.open > .dropdown-toggle.btn-new {
	background-image: none;
}

.btn-changelog {
	background: #183854;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 100%;
}

.btn-changelog:hover,
.btn-changelog:focus,
.btn-changelog.focus,
.btn-changelog:active,
.btn-changelog.active,
.open > .dropdown-toggle.btn-new {
	background: #8a648a;
	color: white;
}

.open > .dropdown-toggle.btn-new {
	background-image: none;
}

#tooltipDiv.tooltipExtraCustom40 {
	width: 40%;
}

#tooltipDiv.tooltipExtraCustom45 {
	width: 45%;
}

#tooltipDiv.tooltipExtraCustom50 {
	width: 50%;
}

#tooltipDiv.tooltipExtraCustom55 {
	width: 55%;
}

#tooltipDiv.tooltipExtraCustom60 {
	width: 60%;
}

#tooltipDiv.tooltipExtraCustom65 {
	width: 65%;
}

#tooltipDiv.tooltipExtraCustom70 {
	width: 70%;
}

#tooltipDiv.tooltipExtraCustom75 {
	width: 75%;
}

#tooltipDiv.tooltipExtraCustom80 {
	width: 80%;
}

#tooltipDiv.tooltipExtraCustom85 {
	width: 85%;
}

#tooltipDiv.tooltipExtraCustom90 {
	width: 90%;
}

#tooltipDiv.tooltipExtraCustom95 {
	width: 95%;
}

#tooltipDiv.tooltipExtraCustom100 {
	width: 100%;
}

/* Spire Assault */
.spireAssaultHeader {
	display: inline-block;
	width: calc((100% - 1.4em - 6px) / 6);
	text-align: center;
	cursor: pointer;
	padding: 0.3em;
	color: white;
	margin-right: 0.1em;
	margin-left: 0.1em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	font-size: 0.85vw;
}

.spireAssaultRing {
	display: inline-block;
	width: calc((100% - 1.4em - 2px) / 5);
	text-align: center;
	cursor: pointer;
	padding: 0.2em;
	color: white;
	margin-right: 0.1em;
	margin-left: 0.1em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	font-size: 0.8vw;
}

.spireAssaultItem {
	display: inline-block;
	width: calc((100% - 1.4em - 2px) / 5.1);
	text-align: center;
	cursor: pointer;
	padding: 0.2em;
	color: white;
	margin-right: 0.1em;
	margin-left: 0.1em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	font-size: 0.7vw;
}

.spireItemsEquipped,
.spireRingEquipped,
.spireHeaderSelected {
	border: 1px solid #6b6a6a;
	background-color: #097740;
	color: white;
}

.spireItemsEquipped:hover,
.spireRingEquipped:hover,
.spireHeaderSelected:hover {
	border: 1px solid #4b4a4a;
	background-color: #054e2a;
	color: white;
}

.spireItemsNotEquipped,
.spireRingNotEquipped,
.spireHeaderNotSelected {
	border: 1px solid #6b6a6a;
	background-color: black;
}

.spireItemsNotEquipped:hover,
.spireRingNotEquipped:hover,
.spireHeaderNotSelected:hover {
	border: 1px solid #4b4a4a;
	background-color: #202020;
}

.btnItem {
	display: inline-block;
	width: calc((100% - 1.4em - 2px) / 5.1);
	text-align: center;
	cursor: pointer;
	padding: 0.3em;
	color: white;
	margin-right: 0.1em;
	margin-left: 0.1em;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
	font-size: 0.7vw;
	align-items: center;
}

.btnItemEquipped {
	border: 1px solid #6b6a6a;
	background-color: #097740;
	color: white;
}

.btnItemEquipped:hover {
	border: 1px solid #4b4a4a;
	background-color: #054e2a;
	color: white;
}

.btnItemNotEquipped {
	border: 1px solid #6b6a6a;
	background-color: #441817;
}

.btnItemNotEquipped:hover {
	border: 1px solid #4b4a4a;
	background-color: #d64541;
}
