#logBtnGroup div {
	width: 19% !important;
}

div#logConfigHolder.btn-group {
	width: 5% !important;
}

#logConfigBtn {
	padding: 6px 0 !important;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}

ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 0.5vh 1vw;
	text-decoration: none;
	transition: 0.3s;
	font-size: 2vh;
}

ul.tab li .active {
	background-color: #ccc;
}

ul.tab li a:hover {
	background-color: #ddd;
}

.tabcontent {
	display: none;
	border: 1px solid #ccc;
	border-top: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
	transform: translateZ(0);
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#tipText .AutoEggs,
#AutoEggs.settingBtntrue {
	-webkit-animation: eggGradient 3s infinite;
	animation: eggGradient 3s infinite;
	color: black;
}

@keyframes eggGradient {
	0% {
		background-color: #83ddd6;
	}

	25% {
		background-color: #f4c7c7;
	}

	50% {
		background-color: #8beab7;
	}

	75% {
		background-color: #f6f297;
	}

	100% {
		background-color: #83ddd6;
	}
}

#trapArea {
	border: 1px solid white;
	display: inline-block;
	margin-bottom: 2%;
	margin-top: 0;
	padding: 0;
}

#animationDiv {
	z-index: -1 !important;
}

.queueItemName,
#queueTimeRemaining {
	z-index: 0 !important;
}

.heirloomRare8 {
	text-shadow: none;
}

.litScroll {
	overflow: scroll;
	height: 500px;
}

#wrapper {
	background: none;
}

#wrapper {
	background: -webkit-linear-gradient(left, #323341 12%, #626368 29.5%, #727275 47%, #727275 53%, #4c4d56 70.5%, #323341 88%);
}

/*MAZ LAYOUT CSS*/

.structConfigPercent,
.dailyAutoPortalZone,
.dailyAutoPortalChallenge {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 10%;
}

.structConfigZone,
.structConfigCell {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 5%;
}

.windowRow div input {
	width: 100%;
}

.windowRow div select {
	width: 100%;
}

.windowRow {
	padding: 0 2%;
	margin: 0 1%;
	font-weight: bold;
}

.windowRow.titles div {
	text-align: center;
	font-weight: bold;
}

.windowRow.titles {
	border: 1px solid black;
	margin: 0 1%;
	padding: 0.2% 2%;
}

#windowAddRowBtn,
#windowSwapPresetBtn {
	margin-top: 0.5vw;
}





.windowDeleterMapFarm .icomoon,
.windowDeleterTributeFarm .icomoon,
.windowDeleterSmithyFarm .icomoon,
.windowDeleterWorshipperFarm .icomoon,
.windowDeleterMapBonus .icomoon,
.windowDeleterBoneShrine .icomoon,
.windowDeleterQuag .icomoon,
.windowDeleterInsanity .icomoon,
.windowDeleterAlch .icomoon,
.windowDeleterHypo .icomoon,
.windowDeleterHDFarm .icomoon,
.windowDeleterVoidMap .icomoon,
.windowDeleterRaiding .icomoon {
	position: relative;
	top: 0.6vw;
	left: -1vw;
	color: red;
	font-weight: bold;
	font-size: 2vw;
	padding-left: 1%;
}

.windowLevelOff .windowLevelrMapFarm,
.windowLevelOff .windowLevelrTributeFarm,
.windowLevelOff .windowLevelrSmithyFarm,
.windowLevelOff .windowLevelrWorshipperFarm,
.windowLevelOff .windowLevelrMapBonus,
.windowLevelOff .windowLevelrQuag,
.windowLevelOff .windowLevelrInsanity,
.windowLevelOff .windowLevelrAlch,
.windowLevelOff .windowLevelrHypo,
.windowLevelOff .windowLevelrHDFarm {
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
	padding-left: 1%;
}

.windowLevelOn .windowLevelrMapFarm,
.windowLevelOn .windowLevelrTributeFarm,
.windowLevelOn .windowLevelrSmithyFarm,
.windowLevelOn .windowLevelrWorshipperFarm,
.windowLevelOn .windowLevelrMapBonus,
.windowLevelOn .windowLevelrQuag,
.windowLevelOn .windowLevelrInsanity,
.windowLevelOn .windowLevelrAlch,
.windowLevelOn .windowLevelrHypo,
.windowLevelOn .windowLevelrHDFarm {
	opacity: 1;
	padding-left: 1%;
}

/* Map Farm */
.windowDeleterMapFarm,
.windowActiverMapFarm,
.windowWorldrMapFarm,
.windowCellrMapFarm,
.windowAutoLevelrMapFarm,
.windowLevelrMapFarm,
.windowJobRatiorMapFarm,
.windowRepeatEveryrMapFarm,
.windowEndZonerMapFarm,
.windowSpecialrMapFarm,
.windowRunTyperMapFarm {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterMapFarm {
	width: 0%;
}

.windowActiverMapFarm {
	width: 6%;
}

.windowWorldrMapFarm {
	width: 5%;
}

.windowCellrMapFarm {
	width: 5%;
}

.windowAutoLevelrMapFarm {
	width: 3%;
}

.windowLevelrMapFarm {
	width: 5%;
}

.windowJobRatiorMapFarm {
	width: 9%;
}

.windowRepeatEveryrMapFarm {
	width: 6%;
}

.windowEndZonerMapFarm {
	width: 5%;
}

.windowSpecialrMapFarm {
	width: 18%;
}

.windowRunTyperMapFarm {
	width: 24%;
}

.windowChallengeOnrMapFarm .windowChallengerMapFarm,
.windowChallenge3OnrMapFarm .windowChallenge3rMapFarm {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnrMapFarm .windowRunTyperMapFarm,
.windowChallengeOnrMapFarm .windowRunTyperMapFarm {
	display: inline-block;
	width: 12%;
}

.windowChallengeOffrMapFarm .windowChallengerMapFarm,
.windowChallenge3OffrMapFarm .windowChallenge3rMapFarm {
	display: none;
}

.windowGatherOn .windowSpecialrMapFarm {
	width: 10%;
	padding-left: 1%;
}

/* Tribute Farm */
.windowDeleterTributeFarm,
.windowActiverTributeFarm,
.windowWorldrTributeFarm,
.windowCellrTributeFarm,
.windowAutoLevelrTributeFarm,
.windowLevelrTributeFarm,
.windowJobRatiorTributeFarm,
.windowRepeatEveryrTributeFarm,
.windowEndZonerTributeFarm,
.windowRunTyperTributeFarm,
.windowMapTypeDropdownrTributeFarm,
.windowMapTypeDropdownDefaultrTributeFarm,
.windowTributes,
.windowMets,
.windowBuildings {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterTributeFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiverTributeFarm {
	width: 6%;
}

.windowWorldrTributeFarm {
	width: 5%;
}

.windowCellrTributeFarm {
	width: 5%;
}

.windowAutoLevelrTributeFarm {
	width: 4%;
}

.windowLevelrTributeFarm {
	width: 5%;
}

.windowJobRatiorTributeFarm {
	width: 7%;
}

.windowRepeatEveryrTributeFarm {
	width: 6%;
}

.windowEndZonerTributeFarm {
	width: 5%;
}

.windowMapTypeDropdownrTributeFarm {
	width: 10%;
}

.windowMapTypeDropdownDefaultrTributeFarm {
	width: 15%;
}

.windowTributes,
.windowMets {
	width: 7%;
}

.windowBuildings {
	width: 6%;
}

.windowRunTyperTributeFarm {
	width: 20%;
}

.windowChallengeOnrTributeFarm .windowChallengerTributeFarm,
.windowChallenge3OnrTributeFarm .windowChallenge3rTributeFarm {
	display: inline-block;
	width: 10%;
}

.windowChallenge3OnrTributeFarm .windowRunTyperTributeFarm,
.windowChallengeOnrTributeFarm .windowRunTyperTributeFarm {
	display: inline-block;
	width: 10%;
}

.windowChallengeOffrTributeFarm .windowChallengerTributeFarm,
.windowChallenge3OffrTributeFarm .windowChallenge3rTributeFarm {
	display: none;
}

/* Smithy Farm */
.windowDeleterSmithyFarm,
.windowActiverSmithyFarm,
.windowWorldrSmithyFarm,
.windowCellrSmithyFarm,
.windowAutoLevelrSmithyFarm,
.windowLevelrSmithyFarm,
.windowMapTypeDropdownrSmithyFarm,
.windowMapTypeDropdownDefaultrSmithyFarm,
.windowRunTyperSmithyFarm,
.windowSmithies,
.windowMeltingPoint {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterSmithyFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiverSmithyFarm {
	width: 8%;
}

.windowWorldrSmithyFarm {
	width: 9%;
}

.windowCellrSmithyFarm {
	width: 9%;
}

.windowAutoLevelrSmithyFarm {
	width: 7%;
}

.windowLevelrSmithyFarm {
	width: 9%;
}

.windowMapTypeDropdownrSmithyFarm,
.windowMapTypeDropdownDefaultrSmithyFarm {
	width: 13%;
}

.windowSmithies {
	width: 9%;
}

.windowMeltingPoint {
	width: 7%;
}

.windowRunTyperSmithyFarm {
	width: 28%;
}

.windowChallengeOnrSmithyFarm .windowChallengerSmithyFarm,
.windowChallenge3OnrSmithyFarm .windowChallenge3rSmithyFarm {
	display: inline-block;
	width: 14%;
}

.windowChallenge3OnrSmithyFarm .windowRunTyperSmithyFarm,
.windowChallengeOnrSmithyFarm .windowRunTyperSmithyFarm {
	display: inline-block;
	width: 14%;
}

.windowChallengeOffrSmithyFarm .windowChallengerSmithyFarm,
.windowChallenge3OffrSmithyFarm .windowChallenge3rSmithyFarm {
	display: none;
}

/* Map Bonus */
.windowDeleterMapBonus,
.windowActiverMapBonus,
.windowWorldrMapBonus,
.windowCellrMapBonus,
.windowAutoLevelrMapBonus,
.windowLevelrMapBonus,
.windowJobRatiorMapBonus,
.windowSpecialrMapBonus,
.windowRunTyperMapBonus,
.windowMapStacks {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterMapBonus {
	width: 0%;
	cursor: pointer;
}

.windowActiverMapBonus {
	width: 8%;
}

.windowWorldrMapBonus {
	width: 8%;
}

.windowCellrMapBonus {
	width: 8%;
}

.windowAutoLevelrMapBonus {
	width: 6%;
}

.windowLevelrMapBonus {
	width: 8%;
}

.windowJobRatiorMapBonus {
	width: 8%;
}

.windowSpecialrMapBonus {
	width: 20%;
}

.windowMapStacks {
	width: 8%;
}

.windowRunTyperMapBonus {
	width: 25%;
}

.windowChallengeOnrMapBonus .windowChallengerMapBonus,
.windowChallenge3OnrMapBonus .windowChallenge3rMapBonus {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnrMapBonus .windowRunTyperMapBonus,
.windowChallengeOnrMapBonus .windowRunTyperMapBonus {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffrMapBonus .windowChallengerMapBonus,
.windowChallenge3OffrMapBonus .windowChallenge3rMapBonus {
	display: none;
}

.windowChallengeOffrMapBonus .windowChallengerMapBonus,
.windowChallenge3OffrMapBonus .windowChallenge3rMapBonus {
	display: none;
}

/* Raiding */
.windowDeleterRaiding,
.windowActiverRaiding,
.windowWorldrRaiding,
.windowCellrRaiding,
.windowRunTyperRaiding,
.windowRaidingDropdown,
.windowRaidingZone,
.windowRecycle {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterRaiding {
	width: 0%;
	cursor: pointer;
}

.windowActiverRaiding {
	width: 8%;
}

.windowWorldrRaiding {
	width: 14%;
}

.windowCellrRaiding {
	width: 14%;
}

.windowRaidingDropdown {
	width: 15%;
}

.windowRaidingZone {
	width: 14%;
}

.windowRecycle {
	width: 15%;
}

.windowRunTyperRaiding {
	width: 34%;
}

.windowChallengeOnrRaiding .windowChallengerRaiding,
.windowChallenge3OnrRaiding .windowChallenge3rRaiding {
	display: inline-block;
	width: 17%;
}

.windowChallenge3OnrRaiding .windowRunTyperRaiding,
.windowChallengeOnrRaiding .windowRunTyperRaiding {
	display: inline-block;
	width: 17%;
}

.windowChallengeOffrRaiding .windowChallengerRaiding,
.windowChallenge3OffrRaiding .windowChallenge3rRaiding {
	display: none;
}

/* HD Farm */
.windowDeleterHDFarm,
.windowActiverHDFarm,
.windowWorldrHDFarm,
.windowCellrHDFarm,
.windowAutoLevelrHDFarm,
.windowLevelrHDFarm,
.windowEndZonerHDFarm,
.windowHDMult,
.windowHDBase,
.windowRunTyperHDFarm,
.windowChallengeOn .windowChallengerHDFarm,
.windowChallenge3On .windowChallenge3rHDFarm {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterHDFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiverHDFarm {
	width: 7%;
}

.windowWorldrHDFarm {
	width: 10%;
}

.windowCellrHDFarm {
	width: 10%;
}

.windowAutoLevelrHDFarm {
	width: 6%;
}

.windowLevelrHDFarm {
	width: 10%;
}

.windowEndZonerHDFarm {
	width: 10%;
}

.windowHDMult,
.windowHDBase {
	width: 10%;
}

.windowRunTyperHDFarm {
	width: 26%;
}

.windowChallengeOnrHDFarm .windowChallengerHDFarm,
.windowChallenge3OnrHDFarm .windowChallenge3rHDFarm {
	display: inline-block;
	width: 13%;
}

.windowChallenge3OnrHDFarm .windowRunTyperHDFarm,
.windowChallengeOnrHDFarm .windowRunTyperHDFarm {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffrHDFarm .windowChallengerHDFarm,
.windowChallenge3OffrHDFarm .windowChallenge3rHDFarm {
	display: none;
}

/* Worshipper Farm */
.windowDeleterWorshipperFarm,
.windowActiverWorshipperFarm,
.windowWorldrWorshipperFarm,
.windowAutoLevelrWorshipperFarm,
.windowLevelrWorshipperFarm,
.windowJobRatiorWorshipperFarm,
.windowRepeatEveryrWorshipperFarm,
.windowEndZonerWorshipperFarm,
.windowRunTyperWorshipperFarm,
.windowWorshipper,
.windowCellrWorshipperFarm {
	display: inline-block;
	padding-left: 1%;
}


.windowDeleterWorshipperFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiverWorshipperFarm {
	width: 6%;
}

.windowWorldrWorshipperFarm {
	width: 9%;
}

.windowCellrWorshipperFarm {
	width: 9%;
}

.windowAutoLevelrWorshipperFarm {
	width: 5%;
}

.windowLevelrWorshipperFarm {
	width: 9%;
}

.windowJobRatiorWorshipperFarm {
	width: 9%;
}

.windowRepeatEveryrWorshipperFarm {
	width: 9%;
}

.windowEndZonerWorshipperFarm {
	width: 9%;
}

.windowWorshipper {
	width: 9%;
}

.windowRunTyperWorshipperFarm {
	width: 25%;
}

.windowChallengeOnrWorshipperFarm .windowChallengerWorshipperFarm,
.windowChallenge3OnrWorshipperFarm .windowChallenge3rWorshipperFarm {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnrWorshipperFarm .windowRunTyperWorshipperFarm,
.windowChallengeOnrWorshipperFarm .windowRunTyperWorshipperFarm {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffrWorshipperFarm .windowChallengerWorshipperFarm,
.windowChallenge3OffrWorshipperFarm .windowChallenge3rWorshipperFarm {
	display: none;
}

/* Bone Shrine */
.windowDeleterBoneShrine,
.windowActiverBoneShrine,
.windowWorldrBoneShrine,
.windowCellrBoneShrine,
.windowJobRatiorBoneShrine,
.windowSpecialrBoneShrine,
.windowRunTyperBoneShrine,
.windowBoneBelow,
.windowBoneAmount,
.windowBoneGather {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterBoneShrine {
	width: 0%;
	cursor: pointer;
}

.windowActiverBoneShrine {
	width: 7%;
}

.windowWorldrBoneShrine {
	width: 10%;
}

.windowCellrBoneShrine {
	width: 10%;
}

.windowJobRatiorBoneShrine {
	width: 11%;
}

.windowSpecialrBoneShrine {
	width: 24%;
}

.windowBoneBelow,
.windowBoneAmount {
	width: 10%;
}

.windowBoneGather {
	width: 10%;
}

.windowRunTyperBoneShrine {
	width: 25%;
}

.windowShredOn .windowShred,
.windowChallengeOnrBoneShrine .windowChallengerBoneShrine,
.windowChallenge3OnrBoneShrine .windowChallenge3rBoneShrine {
	display: inline-block;
	width: 12%;
}

.windowShredOn .windowRunTyperBoneShrine,
.windowChallenge3OnrBoneShrine .windowRunTyperBoneShrine,
.windowChallengeOnrBoneShrine .windowRunTyperBoneShrine {
	display: inline-block;
	width: 13%;
}

.windowShredOff .windowShred,
.windowChallengeOffrBoneShrine .windowChallengerBoneShrine,
.windowChallenge3OffrBoneShrine .windowChallenge3rBoneShrine {
	display: none;
}

/* Quagmire */
.windowDeleterQuag,
.windowActiverQuag,
.windowWorldrQuag,
.windowCellrQuag,
.windowJobRatiorQuag,
.windowBogs {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterQuag {
	width: 0%;
	cursor: pointer;
}

.windowActiverQuag {
	width: 11%;
}

.windowWorldrQuag {
	width: 21%;
}

.windowCellrQuag {
	width: 21%;
}

.windowJobRatiorQuag {
	width: 24%;
}

.windowBogs {
	width: 21%;
}

/* Insanity */
.windowDeleterInsanity,
.windowActiverInsanity,
.windowWorldrInsanity,
.windowCellrInsanity,
.windowAutoLevelrInsanity,
.windowLevelrInsanity,
.windowJobRatiorInsanity,
.windowSpecialrInsanity,
.windowInsanity {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterInsanity {
	width: 0%;
}

.windowActiverInsanity {
	width: 8%;
}

.windowWorldrInsanity {
	width: 10%;
}

.windowCellrInsanity {
	width: 10%;
}

.windowAutoLevelrInsanity {
	width: 5%;
}

.windowLevelrInsanity {
	width: 10%;
}

.windowJobRatiorInsanity {
	width: 12%;
}

.windowSpecialrInsanity {
	width: 28%;
}

.windowInsanity {
	width: 10%;
}

/* Alchemy */
.windowDeleterAlch,
.windowActiverAlch,
.windowWorldrAlch,
.windowCellrAlch,
.windowAutoLevelrAlch,
.windowLevelrAlch,
.windowJobRatiorAlch,
.windowSpecialrAlch,
.windowPotionNumber,
.windowPotionType {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterAlch {
	width: 0%;
	cursor: pointer;
}

.windowActiverAlch {
	width: 7%;
}


.windowWorldrAlch {
	width: 7%;
}

.windowCellrAlch {
	width: 7%;
}

.windowAutoLevelrAlch {
	width: 6%;
}

.windowLevelrAlch {
	width: 7%;
}

.windowJobRatiorAlch {
	width: 11%;
}

.windowSpecialrAlch {
	width: 26%;
}

.windowPotionNumber {
	width: 7%;
}

.windowPotionType {
	width: 20%;
}

/* Hypothermia */
.windowDeleterHypo,
.windowActiverHypo,
.windowWorldrHypo,
.windowCellrHypo,
.windowAutoLevelrHypo,
.windowLevelrHypo,
.windowJobRatiorHypo,
.windowBonfire,
.windowFrozenCastle,
.windowStorage,
.windowPackrat {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterHypo {
	width: 0%;
	cursor: pointer;
}

.windowActiverHypo {
	width: 10%;
}

.windowWorldrHypo {
	width: 16%;
}

.windowCellrHypo {
	width: 16%;
}

.windowAutoLevelrHypo {
	width: 8%;
}

.windowLevelrHypo {
	width: 16%;
}

.windowJobRatiorHypo {
	width: 21%;
}

.windowBonfire {
	width: 12%;
}

.windowFrozenCastle {
	width: 22%;
}

.windowStorage {
	width: 15%;
}

.windowPackrat {
	width: 15%;
}

/* Void Map */
.windowDeleterVoidMap,
.windowActiverVoidMap,
.windowWorldrVoidMap,
.windowMaxVoidZone,
.windowCellrVoidMap,
.windowJobRatiorVoidMap,
.windowRunTyperVoidMap,
.windowVoidHDRatio {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleterVoidMap {
	width: 0%;
	cursor: pointer;
}

.windowActiverVoidMap {
	width: 8%;
}

.windowWorldrVoidMap {
	width: 11%;
}

.windowMaxVoidZone {
	width: 11%;
}

.windowVoidHDRatio {
	width: 11%;
}

.windowCellrVoidMap {
	width: 11%;
}

.windowJobRatiorVoidMap {
	width: 11%;
}

.windowRunTyperVoidMap {
	width: 25%;
}

.windowChallengeOnrVoidMap .windowChallengerVoidMap,
.windowChallenge3OnrVoidMap .windowChallenge3rVoidMap {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnrVoidMap .windowRunTyperVoidMap,
.windowChallengeOnrVoidMap .windowRunTyperVoidMap {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffrVoidMap .windowChallengerVoidMap,
.windowChallenge3OffrVoidMap .windowChallenge3rVoidMap {
	display: none;
}

.windowRepeat,
.windowGather,
.windowAtlantrimp {
	display: inline-block;
	padding-left: 1%;
}

#windowError {
	font-weight: bold;
	color: red;
}

.windowRepeat {
	width: 7%;
}

.windowAtlantrimp {
	width: 6%;
}

.windowGatherOn .windowSpecialrMapBonus {
	width: 15%;
}

.windowGatherOn .windowSpecialrAlch {
	width: 16%;
}

.windowGatherOff .windowGather {
	display: none;
}

.windowGatherOn .windowGather {
	width: 8%;
}




#tooltipDiv.tooltipWindow15 {
	width: 15%;
}

#tooltipDiv.tooltipWindow20 {
	width: 20%;
}

#tooltipDiv.tooltipWindow25 {
	width: 25%;
}

#tooltipDiv.tooltipWindow30 {
	width: 30%;
}

#tooltipDiv.tooltipWindowLg {
	width: 30%;
}

#tooltipDiv.tooltipWindow35 {
	width: 35%;
}

#tooltipDiv.tooltipWindow40 {
	width: 40%;
}

#tooltipDiv.tooltipWindow45 {
	width: 45%;
}

#tooltipDiv.tooltipWindow50 {
	width: 50%;
}

#tooltipDiv.tooltipWindow55 {
	width: 55%;
}

#tooltipDiv.tooltipWindow60 {
	width: 60%;
}

#tooltipDiv.tooltipWindow65 {
	width: 65%;
}

#tooltipDiv.tooltipWindow70 {
	width: 70%;
}

#tooltipDiv.tooltipWindow75 {
	width: 75%;
}

#tooltipDiv.tooltipWindow80 {
	width: 80%;
}

#tooltipDiv.tooltipExtraLg {
	width: 50%;
}

#tooltipDiv.tooltipExtraSuperLg {
	width: 65%;
}

#tooltipDiv.tooltipExtraGigantic {
	width: 80%;
}

#tooltipDiv.tooltipExtraBiggest {
	width: 90%;
}



.uniqueMapValue {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 10%;
}


.settingsBtnLocal {
	font-size: 1.3vw;
	cursor: pointer;
	text-align: center;
}

.settingsBtnLocalCogwheel {
	font-size: 1.3vw;
	border-right: 1px solid black !important;
	border-top: 1px solid black !important;
	border-bottom: 1px solid black !important;
	cursor: pointer;
	text-align: center;
}


.toggleConfigBtnLocal {
	overflow: hidden;
}

.toggleConfigBtnLocal div {
	display: inline-block;
	text-align: center;
}

.toggleConfigBtnLocal div:first-child {
	width: 80%;
}

.toggleConfigBtnLocal div:nth-child(2) {
	width: 20%;
	background-color: grey;
	float: right;
}

.toggleConfigBtnLocal div:nth-child(2):hover {
	background-color: #666666;
}

.toggleConfigBtnLocal div span {
	line-height: 1.2em;
	font-size: 1.1em;
}