#logBtnGroup div {
	width: 19% !important;
}

div#logConfigHolder.btn-group {
	width: 5% !important;
}

#logConfigBtn {
	padding: 6px 0 !important;
}

ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

ul.tab li {
	float: left;
}

ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 0.5vh 1vw;
	text-decoration: none;
	transition: 0.3s;
	font-size: 2vh;
}

ul.tab li .active {
	background-color: #ccc;
}

ul.tab li a:hover {
	background-color: #ddd;
}

.tabcontent {
	display: none;
	border: 1px solid #ccc;
	border-top: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	/* Fading effect takes 1 second */
	transform: translateZ(0);
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#tipText .AutoEggs,
#AutoEggs.settingBtntrue {
	-webkit-animation: eggGradient 3s infinite;
	animation: eggGradient 3s infinite;
	color: black;
}

@keyframes eggGradient {
	0% {
		background-color: #83ddd6;
	}

	25% {
		background-color: #f4c7c7;
	}

	50% {
		background-color: #8beab7;
	}

	75% {
		background-color: #f6f297;
	}

	100% {
		background-color: #83ddd6;
	}
}

#trapArea {
	border: 1px solid white;
	display: inline-block;
	margin-bottom: 2%;
	margin-top: 0;
	padding: 0;
}

#animationDiv {
	z-index: -1 !important;
}

.queueItemName,
#queueTimeRemaining {
	z-index: 0 !important;
}

.heirloomRare8 {
	text-shadow: none;
}

#messageConfig {
	height: 3vw;
	font-size: 1vw;
}

.messageNameHolder {
	font-size: 1.2vw;
}

.litScroll {
	overflow: scroll;
	height: 500px;
}

#wrapper {
	background: none;
}

#wrapper {
	background: -webkit-linear-gradient(left, #323341 12%, #626368 29.5%, #727275 47%, #727275 53%, #4c4d56 70.5%, #323341 88%);
}

/*MAZ LAYOUT CSS*/

.structConfigPercent,
.dailyAutoPortalZone,
.dailyAutoPortalChallenge {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 10%;
}

.structConfigZone,
.structConfigCell {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 5%;
}

.windowRow div input {
	width: 100%;
}

.windowRow div select {
	width: 100%;
}

.windowRow {
	padding: 0 2%;
	margin: 0 1%;
	font-weight: bold;
}

.windowRow.titles div {
	text-align: center;
	font-weight: bold;
}

.windowRow.titles {
	border: 1px solid black;
	margin: 0 1%;
	padding: 0.2% 2%;
}

#windowAddRowBtn,
#windowSwapPresetBtn {
	margin-top: 0.5vw;
}


.windowDeleteMapFarm .icomoon,
.windowDeleteTributeFarm .icomoon,
.windowDeleteSmithyFarm .icomoon,
.windowDeleteWorshipperFarm .icomoon,
.windowDeleteMapBonus .icomoon,
.windowDeleteBoneShrine .icomoon,
.windowDeleteQuagmire .icomoon,
.windowDeleteInsanity .icomoon,
.windowDeleteAlchemy .icomoon,
.windowDeleteHypothermia .icomoon,
.windowDeleteHDFarm .icomoon,
.windowDeleteVoidMap .icomoon,
.windowDeleteRaiding .icomoon,
.windowDeleteBionicRaiding .icomoon,
.windowDeleteAutoGolden .icomoon {
	position: relative;
	top: 0.6vw;
	left: -1vw;
	color: red;
	font-weight: bold;
	font-size: 2vw;
	padding-left: 1%;
}

.windowLevelOff .windowLevelMapFarm,
.windowLevelOff .windowLevelTributeFarm,
.windowLevelOff .windowLevelSmithyFarm,
.windowLevelOff .windowLevelWorshipperFarm,
.windowLevelOff .windowLevelMapBonus,
.windowLevelOff .windowLevelQuagmire,
.windowLevelOff .windowLevelInsanity,
.windowLevelOff .windowLevelAlchemy,
.windowLevelOff .windowLevelHypothermia,
.windowLevelOff .windowLevelHDFarm {
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
	padding-left: 1%;
}

.windowLevelOn .windowLevelMapFarm,
.windowLevelOn .windowLevelTributeFarm,
.windowLevelOn .windowLevelSmithyFarm,
.windowLevelOn .windowLevelWorshipperFarm,
.windowLevelOn .windowLevelMapBonus,
.windowLevelOn .windowLevelQuagmire,
.windowLevelOn .windowLevelInsanity,
.windowLevelOn .windowLevelAlchemy,
.windowLevelOn .windowLevelHypothermia,
.windowLevelOn .windowLevelHDFarm {
	opacity: 1;
	padding-left: 1%;
}

/* Map Farm */
.windowDeleteMapFarm,
.windowActiveMapFarm,
.windowPriorityMapFarm,
.windowWorldMapFarm,
.windowCellMapFarm,
.windowAutoLevelMapFarm,
.windowLevelMapFarm,
.windowJobRatioMapFarm,
.windowRepeatEveryMapFarm,
.windowEndZoneMapFarm,
.windowSpecialMapFarm,
.windowRunTypeMapFarm {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteMapFarm {
	width: 0%;
}

.windowActiveMapFarm {
	width: 5%;
}

.windowPriorityMapFarm {
	width: 6%;
}

.windowWorldMapFarm {
	width: 5%;
}

.windowCellMapFarm {
	width: 5%;
}

.windowAutoLevelMapFarm {
	width: 3%;
}

.windowLevelMapFarm {
	width: 5%;
}

.windowJobRatioMapFarm {
	width: 8%;
}

.windowRepeatEveryMapFarm {
	width: 6%;
}

.windowEndZoneMapFarm {
	width: 5%;
}

.windowSpecialMapFarm {
	width: 16%;
}

.windowRunTypeMapFarm {
	width: 22%;
}

.windowChallengeOnMapFarm .windowChallengeMapFarm,
.windowChallenge3OnMapFarm .windowChallenge3MapFarm {
	display: inline-block;
	width: 10%;
}

.windowChallenge3OnMapFarm .windowRunTypeMapFarm,
.windowChallengeOnMapFarm .windowRunTypeMapFarm {
	display: inline-block;
	width: 12%;
}

.windowChallengeOffMapFarm .windowChallengeMapFarm,
.windowChallenge3OffMapFarm .windowChallenge3MapFarm {
	display: none;
}

.windowGatherOn .windowSpecialMapFarm {
	width: 8%;
	padding-left: 1%;
}

/* Tribute Farm */
.windowDeleteTributeFarm,
.windowActiveTributeFarm,
.windowPriorityTributeFarm,
.windowWorldTributeFarm,
.windowCellTributeFarm,
.windowAutoLevelTributeFarm,
.windowLevelTributeFarm,
.windowJobRatioTributeFarm,
.windowRepeatEveryTributeFarm,
.windowEndZoneTributeFarm,
.windowRunTypeTributeFarm,
.windowMapTypeDropdownTributeFarm,
.windowMapTypeDropdownDefaultTributeFarm,
.windowTributes,
.windowMets,
.windowBuildings {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteTributeFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiveTributeFarm {
	width: 5%;
}

.windowPriorityTributeFarm {
	width: 5%;
}

.windowWorldTributeFarm {
	width: 5%;
}

.windowCellTributeFarm {
	width: 5%;
}

.windowAutoLevelTributeFarm {
	width: 4%;
}

.windowLevelTributeFarm {
	width: 5%;
}

.windowJobRatioTributeFarm {
	width: 6%;
}

.windowRepeatEveryTributeFarm {
	width: 6%;
}

.windowEndZoneTributeFarm {
	width: 5%;
}

.windowMapTypeDropdownTributeFarm {
	width: 9%;
}

.windowMapTypeDropdownDefaultTributeFarm {
	width: 15%;
}

.windowTributes,
.windowMets {
	width: 6%;
}

.windowBuildings {
	width: 6%;
}

.windowRunTypeTributeFarm {
	width: 20%;
}

.windowChallengeOnTributeFarm .windowChallengeTributeFarm,
.windowChallenge3OnTributeFarm .windowChallenge3TributeFarm {
	display: inline-block;
	width: 10%;
}

.windowChallenge3OnTributeFarm .windowRunTypeTributeFarm,
.windowChallengeOnTributeFarm .windowRunTypeTributeFarm {
	display: inline-block;
	width: 10%;
}

.windowChallengeOffTributeFarm .windowChallengeTributeFarm,
.windowChallenge3OffTributeFarm .windowChallenge3TributeFarm {
	display: none;
}

/* Smithy Farm */
.windowDeleteSmithyFarm,
.windowActiveSmithyFarm,
.windowPrioritySmithyFarm,
.windowWorldSmithyFarm,
.windowCellSmithyFarm,
.windowAutoLevelSmithyFarm,
.windowLevelSmithyFarm,
.windowMapTypeDropdownSmithyFarm,
.windowMapTypeDropdownDefaultSmithyFarm,
.windowRunTypeSmithyFarm,
.windowSmithies,
.windowMeltingPoint {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteSmithyFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiveSmithyFarm {
	width: 7%;
}

.windowPrioritySmithyFarm {
	width: 7%;
}

.windowWorldSmithyFarm {
	width: 7%;
}

.windowCellSmithyFarm {
	width: 7%;
}

.windowAutoLevelSmithyFarm {
	width: 7%;
}

.windowLevelSmithyFarm {
	width: 7%;
}

.windowMapTypeDropdownSmithyFarm,
.windowMapTypeDropdownDefaultSmithyFarm {
	width: 13%;
}

.windowSmithies {
	width: 9%;
}

.windowMeltingPoint {
	width: 7%;
}

.windowRunTypeSmithyFarm {
	width: 28%;
}

.windowChallengeOnSmithyFarm .windowChallengeSmithyFarm,
.windowChallenge3OnSmithyFarm .windowChallenge3SmithyFarm {
	display: inline-block;
	width: 14%;
}

.windowChallenge3OnSmithyFarm .windowRunTypeSmithyFarm,
.windowChallengeOnSmithyFarm .windowRunTypeSmithyFarm {
	display: inline-block;
	width: 14%;
}

.windowChallengeOffSmithyFarm .windowChallengeSmithyFarm,
.windowChallenge3OffSmithyFarm .windowChallenge3SmithyFarm {
	display: none;
}

/* Map Bonus */
.windowDeleteMapBonus,
.windowActiveMapBonus,
.windowPriorityMapBonus,
.windowWorldMapBonus,
.windowCellMapBonus,
.windowAutoLevelMapBonus,
.windowLevelMapBonus,
.windowJobRatioMapBonus,
.windowSpecialMapBonus,
.windowRunTypeMapBonus,
.windowMapStacks {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteMapBonus {
	width: 0%;
	cursor: pointer;
}

.windowActiveMapBonus {
	width: 7%;
}

.windowPriorityMapBonus {
	width: 7%;
}

.windowWorldMapBonus {
	width: 7%;
}

.windowCellMapBonus {
	width: 7%;
}

.windowAutoLevelMapBonus {
	width: 5%;
}

.windowLevelMapBonus {
	width: 5%;
}

.windowJobRatioMapBonus {
	width: 8%;
}

.windowSpecialMapBonus {
	width: 20%;
}

.windowMapStacks {
	width: 8%;
}

.windowRunTypeMapBonus {
	width: 25%;
}

.windowChallengeOnMapBonus .windowChallengeMapBonus,
.windowChallenge3OnMapBonus .windowChallenge3MapBonus {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnMapBonus .windowRunTypeMapBonus,
.windowChallengeOnMapBonus .windowRunTypeMapBonus {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffMapBonus .windowChallengeMapBonus,
.windowChallenge3OffMapBonus .windowChallenge3MapBonus {
	display: none;
}

.windowChallengeOffMapBonus .windowChallengeMapBonus,
.windowChallenge3OffMapBonus .windowChallenge3MapBonus {
	display: none;
}

.windowGatherOn .windowSpecialMapBonus {
	width: 12%;
}

/* Raiding */
.windowDeleteRaiding,
.windowActiveRaiding,
.windowPriorityRaiding,
.windowWorldRaiding,
.windowCellRaiding,
.windowRepeatEveryRaiding,
.windowEndZoneRaiding,
.windowRunTypeRaiding,
.windowPrestigeGoalRaiding,
.windowRaidingDropdown,
.windowRaidingZoneRaiding,
.windowIncrementMaps,
.windowRecycle {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteRaiding {
	width: 0%;
	cursor: pointer;
}

.windowActiveRaiding {
	width: 6%;
}

.windowPriorityRaiding {
	width: 6%;
}

.windowWorldRaiding {
	width: 5%;
}

.windowCellRaiding {
	width: 5%;
}

.windowEndZoneRaiding {
	width: 6%;
}

.windowRepeatEveryRaiding {
	width: 6%;
}

.windowRaidingDropdown {
	width: 10%;
}

.windowRaidingZoneRaiding {
	width: 6%;
}

.windowRecycle {
	width: 8%;
}

.windowIncrementMaps {
	width: 8%;
}

.windowPrestigeGoalRaiding {
	width: 19%;
}

.windowRunTypeRaiding {
	width: 30%;
}

.windowChallengeOnRaiding .windowChallengeRaiding,
.windowChallenge3OnRaiding .windowChallenge3Raiding {
	display: inline-block;
	width: 14%;
}

.windowChallenge3OnRaiding .windowRunTypeRaiding,
.windowChallengeOnRaiding .windowRunTypeRaiding {
	display: inline-block;
	width: 16%;
}

.windowChallengeOffRaiding .windowChallengeRaiding,
.windowChallenge3OffRaiding .windowChallenge3Raiding {
	display: none;
}

/* Bionic Raiding */
.windowDeleteBionicRaiding,
.windowActiveBionicRaiding,
.windowPriorityBionicRaiding,
.windowWorldBionicRaiding,
.windowCellBionicRaiding,
.windowRepeatEveryBionicRaiding,
.windowEndZoneBionicRaiding,
.windowPrestigeGoalBionicRaiding,
.windowRunTypeBionicRaiding,
.windowRaidingZoneBionicRaiding {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteBionicRaiding {
	width: 0%;
	cursor: pointer;
}

.windowActiveBionicRaiding {
	width: 7%;
}

.windowPriorityBionicRaiding {
	width: 7%;
}

.windowWorldBionicRaiding {
	width: 7%;
}

.windowCellBionicRaiding {
	width: 7%;
}

.windowRepeatEveryBionicRaiding {
	width: 7%;
}

.windowEndZoneBionicRaiding {
	width: 7%;
}

.windowRaidingZoneBionicRaiding {
	width: 7%;
}

.windowPrestigeGoalBionicRaiding {
	width: 19%;
}

.windowRunTypeBionicRaiding {
	width: 31%;
}

.windowChallengeOnBionicRaiding .windowChallengeBionicRaiding,
.windowChallenge3OnBionicRaiding .windowChallenge3BionicRaiding {
	display: inline-block;
	width: 18%;
}

.windowChallenge3OnBionicRaiding .windowRunTypeBionicRaiding,
.windowChallengeOnBionicRaiding .windowRunTypeBionicRaiding {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffBionicRaiding .windowChallengeBionicRaiding,
.windowChallenge3OffBionicRaiding .windowChallenge3BionicRaiding {
	display: none;
}

/* HD Farm */
.windowDeleteHDFarm,
.windowActiveHDFarm,
.windowPriorityHDFarm,
.windowWorldHDFarm,
.windowCellHDFarm,
.windowAutoLevelHDFarm,
.windowJobRatioHDFarm,
.windowLevelHDFarm,
.windowEndZoneHDFarm,
.windowHDMult,
.windowHDBase,
.windowHDType,
.windowRunTypeHDFarm,
.windowChallengeOn .windowChallengeHDFarm,
.windowChallenge3On .windowChallenge3HDFarm {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteHDFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiveHDFarm {
	width: 6%;
}

.windowPriorityHDFarm {
	width: 7%;
}

.windowWorldHDFarm {
	width: 7%;
}

.windowCellHDFarm {
	width: 7%;
}

.windowAutoLevelHDFarm {
	width: 6%;
}

.windowLevelHDFarm {
	width: 7%;
}

.windowEndZoneHDFarm {
	width: 7%;
}

.windowJobRatioHDFarm {
	width: 7%;
}

.windowHDMult,
.windowHDBase {
	width: 7%;
}

.windowHDType {
	width: 10%;
}

.windowRunTypeHDFarm {
	width: 20%;
}

.windowChallengeOnHDFarm .windowChallengeHDFarm,
.windowChallenge3OnHDFarm .windowChallenge3HDFarm {
	display: inline-block;
	width: 10%;
}

.windowChallenge3OnHDFarm .windowRunTypeHDFarm,
.windowChallengeOnHDFarm .windowRunTypeHDFarm {
	display: inline-block;
	width: 10%;
}

.windowChallengeOffHDFarm .windowChallengeHDFarm,
.windowChallenge3OffHDFarm .windowChallenge3HDFarm {
	display: none;
}

/* Worshipper Farm */
.windowDeleteWorshipperFarm,
.windowActiveWorshipperFarm,
.windowPriorityWorshipperFarm,
.windowWorldWorshipperFarm,
.windowAutoLevelWorshipperFarm,
.windowLevelWorshipperFarm,
.windowJobRatioWorshipperFarm,
.windowRepeatEveryWorshipperFarm,
.windowEndZoneWorshipperFarm,
.windowRunTypeWorshipperFarm,
.windowWorshipper,
.windowCellWorshipperFarm {
	display: inline-block;
	padding-left: 1%;
}


.windowDeleteWorshipperFarm {
	width: 0%;
	cursor: pointer;
}

.windowActiveWorshipperFarm {
	width: 6%;
}

.windowPriorityWorshipperFarm {
	width: 6%;
}

.windowWorldWorshipperFarm {
	width: 8%;
}

.windowCellWorshipperFarm {
	width: 8%;
}

.windowAutoLevelWorshipperFarm {
	width: 5%;
}

.windowLevelWorshipperFarm {
	width: 8%;
}

.windowJobRatioWorshipperFarm {
	width: 9%;
}

.windowRepeatEveryWorshipperFarm {
	width: 8%;
}

.windowEndZoneWorshipperFarm {
	width: 8%;
}

.windowWorshipper {
	width: 8%;
}

.windowRunTypeWorshipperFarm {
	width: 25%;
}

.windowChallengeOnWorshipperFarm .windowChallengeWorshipperFarm,
.windowChallenge3OnWorshipperFarm .windowChallenge3WorshipperFarm {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnWorshipperFarm .windowRunTypeWorshipperFarm,
.windowChallengeOnWorshipperFarm .windowRunTypeWorshipperFarm {
	display: inline-block;
	width: 13%;
}

.windowChallengeOffWorshipperFarm .windowChallengeWorshipperFarm,
.windowChallenge3OffWorshipperFarm .windowChallenge3WorshipperFarm {
	display: none;
}

/* Bone Shrine */
.windowDeleteBoneShrine,
.windowActiveBoneShrine,
.windowPriorityBoneShrine,
.windowWorldBoneShrine,
.windowCellBoneShrine,
.windowJobRatioBoneShrine,
.windowSpecialBoneShrine,
.windowRunTypeBoneShrine,
.windowBoneBelow,
.windowBoneAmount,
.windowBoneGather {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteBoneShrine {
	width: 0%;
	cursor: pointer;
}

.windowActiveBoneShrine {
	width: 6%;
}

.windowPriorityBoneShrine {
	width: 6%;
}

.windowWorldBoneShrine {
	width: 9%;
}

.windowCellBoneShrine {
	width: 9%;
}

.windowJobRatioBoneShrine {
	width: 10%;
}

.windowSpecialBoneShrine {
	width: 22%;
}

.windowBoneBelow,
.windowBoneAmount {
	width: 9%;
}

.windowBoneGather {
	width: 10%;
}

.windowRunTypeBoneShrine {
	width: 25%;
}

.windowShredOn .windowShred,
.windowChallengeOnBoneShrine .windowChallengeBoneShrine,
.windowChallenge3OnBoneShrine .windowChallenge3BoneShrine {
	display: inline-block;
	width: 12%;
}

.windowShredOn .windowRunTypeBoneShrine,
.windowChallenge3OnBoneShrine .windowRunTypeBoneShrine,
.windowChallengeOnBoneShrine .windowRunTypeBoneShrine {
	display: inline-block;
	width: 13%;
}

.windowShredOff .windowShred,
.windowChallengeOffBoneShrine .windowChallengeBoneShrine,
.windowChallenge3OffBoneShrine .windowChallenge3BoneShrine {
	display: none;
}

/* Quagmire */
.windowDeleteQuagmire,
.windowActiveQuagmire,
.windowWorldQuagmire,
.windowCellQuagmire,
.windowJobRatioQuagmire,
.windowBogs {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteQuagmire {
	width: 0%;
	cursor: pointer;
}

.windowActiveQuagmire {
	width: 11%;
}

.windowWorldQuagmire {
	width: 21%;
}

.windowCellQuagmire {
	width: 21%;
}

.windowJobRatioQuagmire {
	width: 24%;
}

.windowBogs {
	width: 21%;
}

/* Insanity */
.windowDeleteInsanity,
.windowActiveInsanity,
.windowWorldInsanity,
.windowCellInsanity,
.windowAutoLevelInsanity,
.windowLevelInsanity,
.windowJobRatioInsanity,
.windowSpecialInsanity,
.windowInsanity {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteInsanity {
	width: 0%;
}

.windowActiveInsanity {
	width: 8%;
}

.windowWorldInsanity {
	width: 10%;
}

.windowCellInsanity {
	width: 10%;
}

.windowAutoLevelInsanity {
	width: 5%;
}

.windowLevelInsanity {
	width: 10%;
}

.windowJobRatioInsanity {
	width: 12%;
}

.windowSpecialInsanity {
	width: 28%;
}

.windowInsanity {
	width: 10%;
}

/* Alchemy */
.windowDeleteAlchemy,
.windowActiveAlchemy,
.windowWorldAlchemy,
.windowCellAlchemy,
.windowAutoLevelAlchemy,
.windowLevelAlchemy,
.windowJobRatioAlchemy,
.windowSpecialAlchemy,
.windowPotionNumber,
.windowPotionType {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteAlchemy {
	width: 0%;
	cursor: pointer;
}

.windowActiveAlchemy {
	width: 7%;
}


.windowWorldAlchemy {
	width: 7%;
}

.windowCellAlchemy {
	width: 7%;
}

.windowAutoLevelAlchemy {
	width: 6%;
}

.windowLevelAlchemy {
	width: 7%;
}

.windowJobRatioAlchemy {
	width: 11%;
}

.windowSpecialAlchemy {
	width: 26%;
}

.windowPotionNumber {
	width: 7%;
}

.windowPotionType {
	width: 20%;
}

.windowGatherOn .windowSpecialAlchemy {
	width: 18%;
}

/* Hypothermia */
.windowDeleteHypothermia,
.windowActiveHypothermia,
.windowWorldHypothermia,
.windowCellHypothermia,
.windowAutoLevelHypothermia,
.windowLevelHypothermia,
.windowJobRatioHypothermia,
.windowBonfire,
.windowFrozenCastle,
.windowStorage,
.windowPackrat {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteHypothermia {
	width: 0%;
	cursor: pointer;
}

.windowActiveHypothermia {
	width: 10%;
}

.windowWorldHypothermia {
	width: 16%;
}

.windowCellHypothermia {
	width: 16%;
}

.windowAutoLevelHypothermia {
	width: 8%;
}

.windowLevelHypothermia {
	width: 16%;
}

.windowJobRatioHypothermia {
	width: 21%;
}

.windowBonfire {
	width: 12%;
}

.windowFrozenCastle {
	width: 22%;
}

.windowStorage {
	width: 15%;
}

.windowPackrat {
	width: 15%;
}

/* Void Map */
.windowDeleteVoidMap,
.windowActiveVoidMap,
.windowPriorityVoidMap,
.windowWorldVoidMap,
.windowMaxVoidZone,
.windowCellVoidMap,
.windowJobRatioVoidMap,
.windowRunTypeVoidMap,
.windowPortalAfter,
.windowVoidHDRatio {
	display: inline-block;
	padding-left: 1%;
}

.windowDeleteVoidMap {
	width: 0%;
	cursor: pointer;
}

.windowActiveVoidMap {
	width: 7%;
}

.windowPriorityVoidMap {
	width: 8%;
}

.windowWorldVoidMap {
	width: 9%;
}

.windowMaxVoidZone {
	width: 9%;
}

.windowVoidHDRatio {
	width: 9%;
}

.windowCellVoidMap {
	width: 9%;
}

.windowPortalAfter {
	width: 6%;
}

.windowJobRatioVoidMap {
	width: 9%;
}

.windowRunTypeVoidMap {
	width: 24%;
}

.windowChallengeOnVoidMap .windowChallengeVoidMap,
.windowChallenge3OnVoidMap .windowChallenge3VoidMap {
	display: inline-block;
	width: 12%;
}

.windowChallenge3OnVoidMap .windowRunTypeVoidMap,
.windowChallengeOnVoidMap .windowRunTypeVoidMap {
	display: inline-block;
	width: 12%;
}

.windowChallengeOffVoidMap .windowChallengeVoidMap,
.windowChallenge3OffVoidMap .windowChallenge3VoidMap {
	display: none;
}


.windowDeleteAutoGolden,
.windowActiveAutoGolden,
.windowAmtAutoGolden,
.windowTypeAutoGolden {
	padding-left: 1%;
	display: inline-block;
}

.windowActiveAutoGolden {
	width: 19%;
}

.windowDeleteAutoGolden {
	width: 0%;
	cursor: pointer;
}

.windowAmtAutoGolden {
	width: 40%;
}

.windowTypeAutoGolden {
	width: 40%;
}

.windowRepeat,
.windowGather,
.windowAtlantrimp {
	display: inline-block;
	padding-left: 1%;
}

#windowError {
	font-weight: bold;
	color: red;
}

.windowRepeat {
	width: 7%;
}

.windowAtlantrimp {
	width: 6%;
}

.windowGatherOff .windowGather {
	display: none;
}

.windowGatherOn .windowGather {
	width: 8%;
}




#tooltipDiv.tooltipWindow15 {
	width: 15%;
}

#tooltipDiv.tooltipWindow20 {
	width: 20%;
}

#tooltipDiv.tooltipWindow25 {
	width: 25%;
}

#tooltipDiv.tooltipWindow30 {
	width: 30%;
}

#tooltipDiv.tooltipWindowLg {
	width: 30%;
}

#tooltipDiv.tooltipWindow35 {
	width: 35%;
}

#tooltipDiv.tooltipWindow40 {
	width: 40%;
}

#tooltipDiv.tooltipWindow45 {
	width: 45%;
}

#tooltipDiv.tooltipWindow50 {
	width: 50%;
}

#tooltipDiv.tooltipWindow55 {
	width: 55%;
}

#tooltipDiv.tooltipWindow60 {
	width: 60%;
}

#tooltipDiv.tooltipWindow65 {
	width: 65%;
}

#tooltipDiv.tooltipWindow70 {
	width: 70%;
}

#tooltipDiv.tooltipWindow75 {
	width: 75%;
}

#tooltipDiv.tooltipWindow80 {
	width: 80%;
}

#tooltipDiv.tooltipExtraLg {
	width: 50%;
}

#tooltipDiv.tooltipExtraSuperLg {
	width: 65%;
}

#tooltipDiv.tooltipExtraGigantic {
	width: 80%;
}

#tooltipDiv.tooltipExtraBiggest {
	width: 90%;
}

.uniqueMapValue {
	display: inline-block;
	width: 50%;
	padding: 1%;
	line-height: normal;
	border-width: 1px;
	margin-right: 10%;
}


.settingsBtnLocal {
	font-size: 1.3vw;
	cursor: pointer;
	text-align: center;
}

.settingsBtnLocalCogwheel {
	font-size: 1.3vw;
	border-right: 1px solid black !important;
	border-top: 1px solid black !important;
	border-bottom: 1px solid black !important;
	cursor: pointer;
	text-align: center;
}

.toggleConfigBtnLocal {
	overflow: hidden;
}

.toggleConfigBtnLocal div {
	display: inline-block;
	text-align: center;
}

.toggleConfigBtnLocal div:first-child {
	width: 80%;
}

.toggleConfigBtnLocal div:nth-child(2) {
	width: 20%;
	background-color: grey;
	float: right;
}

.toggleConfigBtnLocal div:nth-child(2):hover {
	background-color: #666666;
}

.toggleConfigBtnLocal div span {
	line-height: 1.2em;
	font-size: 1.1em;
}

.inPortalBtn {
	font-size: 1.5vw !important;
}

.portalThing.detailed {
	font-size: 0.85vw;
	line-height: 1vw;
}



.col-shred {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-shred {
	float: left;
}

.col-shred {
	width: 13.33333333%;
}

#shredTickContainer {
	height: 2.5vw;
	width: 2.5vw;
	display: inline-block;
	position: relative;
	margin-top: 3%;
}

#shredNextTick {
	position: absolute;
	top: 65%;
	font-size: 1em;
	color: black;
	text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;
	text-align: center;
	width: 100%;
	left: 0;
}

#shredBtn {
	position: absolute;
	width: 30%;
	top: 0;
	left: 0;
	font-size: 0.7em;
	color: black;
	background-color: white;
	cursor: pointer;
}